@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background);
    color: var(--text);
}

:root{
    --text: #14090b;
    --background: #fcf8f9;
    --primary: #af5967;
    --secondary: #d0bc9d;
    --accent: #bdaf77;

}

header{

    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

#gameResults{
    margin-top: 40px;
    padding-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 20px;
   
}

#gameResults #score{
    margin-bottom:60px ;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#playerScore, #computerScore{
    border: solid;
    padding: 20px;
} 

#choice{
    border-radius: 10px;
    border: solid;
    cursor: pointer;
}

.playerChoices #choice:hover{
    box-shadow: 4px 4px 1px;
    border-bottom: 6px solid;
    transform: translate(1%, -1%);
    transition: all 0.1s ease-in;
}

#choice img{
    border-radius: 50px;
    width: 150px;
    height: 150px;
    
}


